@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>This is .NET MVC Web Application written for Drew Bredvick's Spreetail interview and has been tested on the .NET Core Framework.</p>

<h3>How to play</h3>
<ol>
    <li>Select a board size and click play.</li>
    <li>Click on a tile to make the first move.</li>
    <li>The computer will automatically make a move after you.</li>
    <li>Continue until you win, the computer wins, or you tie with a cat game.</li>
</ol>

