@{
    ViewData["Title"] = "Test";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>Here we are going to make a tictactoe board.</p>